In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=False)

Mounted at /content/drive

In [2]:
DATA_PATH = './drive/MyDrive/Data/anime33/'

In [3]:
import pandas as pd
import numpy as np

# Create Ratings List

In [ ]:
user_colnames = ['username', 'anime_id', 'my_score']
user_df = pd.read_csv('{}{}'.format(DATA_PATH, 'animelists_cleaned.csv'), usecols=user_colnames)
print("user_df: ", user_df.shape)
user_df.head()

user_df:  (31284030, 3)

   username  anime_id  my_score
0  karthiga        21         9
1  karthiga        59         7
2  karthiga        74         7
3  karthiga       120         7
4  karthiga       178         7

In [ ]:
print(user_df.isnull().sum())
print('shape before drop:', user_df.shape)

user_df = user_df.dropna(axis=0)

print(user_df.isnull().sum())
print('shape after drop:', user_df.shape)

username    243
anime_id      0
my_score      0
dtype: int64
shape before drop: (31284030, 3)
username    0
anime_id    0
my_score    0
dtype: int64
shape after drop: (31283787, 3)

In [ ]:
user_df['username'] = user_df['username'].factorize()[0]
user_df['username'] += 1
user_df.rename(columns= {'username': 'uid'}, inplace=True)
user_df.rename(columns= {'anime_id': 'animeid'}, inplace=True)
user_df.rename(columns= {'my_score': 'rating'}, inplace=True)
user_df.head()

   uid  animeid  rating
0    1       21       9
1    1       59       7
2    1       74       7
3    1      120       7
4    1      178       7

In [ ]:
user_df.to_csv('{}{}'.format(DATA_PATH, 'ratings.csv'), index=False, header=True)

# Create Animes List

In [63]:
anime_colnames = ['anime_id', 'title', "type", "episodes", "rating", "score", "scored_by", "rank", "popularity", "favorites", "genre"]
anime_df = pd.read_csv('{}{}'.format(DATA_PATH, 'AnimeList.csv'), usecols=anime_colnames)
anime_df.head()

print(anime_df.isnull().sum())
print('shape before drop:', anime_df.shape)

anime_df = anime_df.dropna(axis=0)

print(anime_df.isnull().sum())
print('shape after drop:', anime_df.shape)

anime_id         0
title            0
type             0
episodes         0
rating           0
score            0
scored_by        0
rank          1574
popularity       0
favorites        0
genre           64
dtype: int64
shape before drop: (14478, 11)
anime_id      0
title         0
type          0
episodes      0
rating        0
score         0
scored_by     0
rank          0
popularity    0
favorites     0
genre         0
dtype: int64
shape after drop: (12848, 11)

In [64]:
anime_df.head()

   anime_id  ...                                     genre
0     11013  ...    Comedy, Supernatural, Romance, Shounen
1      2104  ...  Comedy, Parody, Romance, School, Shounen
2      5262  ...             Comedy, Magic, School, Shoujo
3       721  ...    Comedy, Drama, Magic, Romance, Fantasy
4     12365  ...           Comedy, Drama, Romance, Shounen

[5 rows x 11 columns]

In [65]:
anime_df = anime_df.sort_values(by=['anime_id'])
anime_df.head()

       anime_id  ...                                              genre
9132          1  ...    Action, Adventure, Comedy, Drama, Sci-Fi, Space
10873         5  ...              Action, Space, Drama, Mystery, Sci-Fi
5399          6  ...  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen
10039         7  ...  Action, Magic, Police, Supernatural, Drama, My...
9308          8  ...          Adventure, Fantasy, Shounen, Supernatural

[5 rows x 11 columns]

## Creating animes.csv

In [66]:
anime_df.rename(columns= {'anime_id': 'animeid'}, inplace=True)
anime_df.rename(columns= {'genre': 'genres'}, inplace=True)

anime_list = anime_df[['animeid', 'title', 'genres']]
anime_list.head()

       animeid  ...                                             genres
9132         1  ...    Action, Adventure, Comedy, Drama, Sci-Fi, Space
10873        5  ...              Action, Space, Drama, Mystery, Sci-Fi
5399         6  ...  Action, Sci-Fi, Adventure, Comedy, Drama, Shounen
10039        7  ...  Action, Magic, Police, Supernatural, Drama, My...
9308         8  ...          Adventure, Fantasy, Shounen, Supernatural

[5 rows x 3 columns]

In [67]:
anime_list.to_csv('{}{}'.format(DATA_PATH, 'animes.csv'), index=False, header=True)

## Creating features.csv

In [68]:
anime = anime_df
OHE_type = anime['type'].str.get_dummies() # one hot encoding
OHE_genre = anime['genres'].str.get_dummies(sep=',')
OHE_rating = anime['rating'].str.get_dummies()

anime.drop(['animeid', 'title', 'rating', 'type','genres'], axis=1, inplace=True)

# data = pd.concat([data, OHE_rating, OHE_type, OHE_genre], axis=1)
anime = pd.concat([anime, OHE_type, OHE_genre], axis=1)
anime.head()

       episodes  score  scored_by  ...  Supernatural  Thriller  Vampire
9132         26   8.81     365465  ...             0         0        0
10873         1   8.41     111344  ...             0         0        0
5399         26   8.31     197843  ...             0         0        0
10039        26   7.34      31908  ...             0         0        0
9308         52   7.04       4760  ...             0         0        0

[5 rows x 90 columns]

In [69]:
anime.columns

Index(['episodes', 'score', 'scored_by', 'rank', 'popularity', 'favorites',
       'Movie', 'Music', 'ONA', 'OVA', 'Special', 'TV', ' Adventure', ' Cars',
       ' Comedy', ' Dementia', ' Demons', ' Drama', ' Ecchi', ' Fantasy',
       ' Game', ' Harem', ' Hentai', ' Historical', ' Horror', ' Josei',
       ' Kids', ' Magic', ' Martial Arts', ' Mecha', ' Military', ' Music',
       ' Mystery', ' Parody', ' Police', ' Psychological', ' Romance',
       ' Samurai', ' School', ' Sci-Fi', ' Seinen', ' Shoujo', ' Shoujo Ai',
       ' Shounen', ' Shounen Ai', ' Slice of Life', ' Space', ' Sports',
       ' Super Power', ' Supernatural', ' Thriller', ' Vampire', 'Action',
       'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama', 'Ecchi',
       'Fantasy', 'Game', 'Harem', 'Historical', 'Horror', 'Josei', 'Kids',
       'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music', 'Mystery',
       'Parody', 'Police', 'Psychological', 'Romance', 'Samurai', 'School',
       'Sci-Fi', 'Seinen', 'Shoujo', 'Shounen', 'Slice of Life', 'Space',
       'Sports', 'Super Power', 'Supernatural', 'Thriller', 'Vampire'],
      dtype='object')

In [70]:
anime.to_csv('{}{}'.format(DATA_PATH, 'anime_features.csv'), index=False, header=True)